/* global style defninitions */
html { overflow-y: scroll; }
body { width:100%; background:rgb(51,51,51); margin:0 auto 0 auto; padding:0; font-family: Calibri, Helvetica, Verdana, sans-serif; }
a { font-weight:bold;  color: #53a8ff; text-decoration:none; }
a:hover { color:#bbddff; text-decoration:underline; }

/* Positioning and main center div for content  */
.container{width:930px; background:url(../images/bgtile.jpg) top center repeat-y; margin:0 auto 0 auto; padding:0; }
.header{ width:906px; height:140px; padding:0; margin:0 auto; text-align:left; }
.contentPages { min-height:400px; padding:12px 32px; font-size:12pt; }
.contentHome { min-height:400px; height:400px; padding:0px 12px; }
.pre { white-space: pre; }

/* Menu bar */
#menu{ height:30px; width:906px;  text-align:center; background:url(../images/menu_bg.jpg) left top repeat-x;}
#menuTable { height:30px; }
/* .menuLink { display:table-cell;  } */
.menuLink { 
	font-family:  Arial, sans-serif; 
	font-size:12px; 
	letter-spacing:-0.1pt; 
	text-decoration:none; 
	height:20px; 
	line-height:20px; 
	display: block;
	font-weight:bold; 
	padding:0 8px; 
	border-right:1px dotted #999999;
}
#menuHome2 { padding:5px 0 5px 10px; }

/*Menu Dropdown*/
ul {
  /* font-family: Arial, Verdana; */
  font-size: 11pt;
  margin: 0;
  padding: 0;
  list-style: none;
}

#menuDropdown li {
  display: block;
  position: relative;
  float: left;
  z-index: 999999;
}
#menuDropdown li ul { display: none; }
#menuDropdown li a {
	font-family:  Arial, sans-serif; 
	font-size:12px; 
	letter-spacing:-0.1pt; 
	display: block;
	text-decoration: none;
	padding: 5px 6px;
	margin-left: 1px;
	white-space: nowrap;
}
#menuDropdown li a:hover {  }
#menuDropdown li:hover ul {
  display: block;
  position: absolute;
}
#menuDropdown li:hover li {
  float: none;
  font-size: 11px;
}
#menuDropdown li:hover a { background: #333333; z-index: 999;}
#menuDropdown li:hover li a:hover { background: #333333; z-index: 999;}

/* general padding, positioning, cursor, and size styles */
.nomargin { margin: 0; }
.nopadding { padding: 0; }
.padding15 { padding: 15px; }
.clear { clear:both; height:1px; width:100%; padding:0; margin:0; display:block; }
.bottom { position:absolute; vertical-align:bottom; }
.floatLeft { float:left; }
.floatRight { float:right; }
.hand { cursor:pointer; }
.navLeft { float:left; width:220px; min-height:600px; padding:0px 12px 0 10px; margin:10px 0px 0px 0px; border-right: 1px dotted #999999;}
.hSeparater { display:block; padding:15px 5px 0px 5px; margin:0px 0px 15px 0px; border-bottom: 1px dotted #999999;}
#newcontent{background: #5B5B5B;}
.padSlides {margin: 0px 100px 380px 15px;}
.padLife {margin: 15px 25px 5px 15px; }

/* website and logo colors */
.textColor { color: #cccccc; }
.msDarkColor { color: #05315e; }
.msMedColor { color: #53a8ff; }
.msLightColor { color: #bbddff; }
.msDarkColorBG { background-color: #05315e; }
.msMedColorBG { background-color: #53a8ff; }
.msLightColorBG { background-color: #bbddff; }
.msDarkGreyBG { background-color: #333333; }
.logoBullet { padding: 0px 0px 7px 30px; list-style: url(../images/bullet.png); }

/* page.element specific ID's */
#login { float:right; width:167px; margin:30px 10px 0 0; }
#manageAccount { text-align: center; margin: 5px 0 0 0; }
#loginImg { width:167px; height:50px; text-align:right; }
#home_main { width:906px; height:360px; background:url(../images/home_main.jpg); }
#home_main_links { position:relative; padding:125px 0 0 15px; text-align:left; line-height:25px; font-size:14pt; } /*  height:360px; */
#eTechSmall { vertical-align:text-bottom; position:relative; top:2px; }
#eTechLine { position:absolute; top: 324px; bottom: 20px; }
.homeBottomImgPad { padding-right:22px; }
#whatisImage2 { margin-top: 20px; } 
.faqQuestion { font-size: 13pt; }
.faqAnswer {font-size:11pt;}
.videoRight, .carrerRight { float:right; width:600px; min-height:400px; margin:10px 10px 2px 0px; padding:0px 0px 0px 5px; }

/* DEPRACATED */
.home_info { position:absolute; width:280px; height:140px; padding:10; z-index:100; margin:10px 0 0 125px; }
#footer{ width:930px; clear:both; height:14px; padding:0px 0px 48px 0px; margin:0; background:url(../images/footer_bg.jpg) top center no-repeat rgb(51,51,51); }

.longtextfield{width: 300px;}

.paddedImage {  
      padding-top: 10px;  
      padding-right: 0px;  
      padding-bottom: 0.25in;  
      padding-left: 5em;  
    }  
.leftArrow{ position: absolute; top: 400px; z-index: 99999; cursor:pointer;}
.rightArrow{ position: absolute; bottom: 350px; right: 550px; z-index: 99999; cursor:pointer;} 